body {
	background-color: #50535c;
	background-image: linear-gradient(to 
	bottom, #2c407d, darkblue);
	background-repeat: no-repeat; }
h1 {
	color: red;
}
.navbar { 
	overflow: hidden;
	background-color: transparent;
	border-radius: 10px;
}

.navbar a {
	background-color: gray;
	display: block;
	text-align: left;	
	border: 2px;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px black;
	float: left;
	text-decoration: none;
	text-color: white;
	font-family: Arial, Verdana, sans-serif;
}

.navbar a.active {
	background-color: #2c407d;
}

.navbar a:hover {
	background-color: white;
}

.navbar a:visited {
	color: white;
}

