body {
	background-color: #50535c;
	background-image: linear-gradient(to 
	bottom, #2c407d, darkblue);
	background-repeat: no-repeat; }
h1 {
	color: red;
}
.navbar { 
	overflow: hidden;
	background-color: transparent;
	border-radius: 10px;
}

.navbar a {
	background-color: transparent;
	display: block;
	text-align: left;
	text-shadow: 0 0 10px #FFFFFF;
	border: 2px;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px black;
	float: left;
	text-decoration: none;
	text-color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
}

.navbar a.active {
	background-color: #2c407d;
	text-shadow: 0 0 10px #FFFFFF;
}

.navbar a:hover {
	background-color: dodgerblue;
	text-shadow: 0 0 10px #FFFFFF;
}

.navbar a:visited {
	color: darkblue;
	text-shadow: 0 0 10px #FFFFFF;
}

#demo {
	-moz-transform: scale(1.2) translate(0px, 25px);
	-webkit-transform: scale(1.2) translate(0px, 25px);
	-o-transform: scale(1.2) translate(0px, 25px);
	-ms-transform: scale(1.2) translate(0px, 25px);
	transform: scale(1.2) translate(0px, 25px);
	background-color: grey;
	text-color: white;
	left: 40px;
	right: 40px;
}


